 <nav class="nav-bar">
        <div class="icon-nav">
            <i class="fas fa-moon"></i>
            <span class="logo">Artistas Database</span>
        </div>

        <ul class="list-nav-bar active">
            <li class="list-item"><a href="/artistas/artistas">Artistas</a></li>
        </ul>
        <div class="fas burger-menu" id="burger-menu">&#9776;</div>
    </nav>