*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background-color: #212121;
  color: #fff;
  font-family: monospace, serif;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 23px;
}

.form {
  width: 300px;
  padding: 64px 15px 24px;
  margin: 0 auto;
}

.form .control {
  margin: 0 0 24px;
}

.form .control input {
  width: 100%;
  padding: 14px 16px;
  border: 0;
  background: transparent;
  color: #fff;
  font-family: monospace, serif;
  letter-spacing: 0.05em;
  font-size: 16px;
}

.form .control input:hover,
.form .control input:focus {
  outline: none;
  border: 0;
}

.form .btn {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  padding: 14px 16px;
  background: transparent;
  outline: none;
  border: 0;
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-family: monospace;
  font-size: 16px;
}

.block-cube {
  position: relative;
}

.block-cube .bg-top {
  position: absolute;
  height: 10px;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #340979 37%, #00d4ff 94%);
  bottom: 100%;
  left: 5px;
  right: -5px;
  transform: skew(-45deg, 0);
  margin: 0;
}

.block-cube .bg-top .bg-inner {
  bottom: 0;
}

.block-cube .bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #340979 37%, #00d4ff 94%);
}

.block-cube .bg-right {
  position: absolute;
  background: #020024;
  background: #00d4ff;
  top: -5px;
  z-index: 0;
  bottom: 5px;
  width: 10px;
  left: 100%;
  transform: skew(0, -45deg);
}

.block-cube .bg-right .bg-inner {
  left: 0;
}

.block-cube .bg .bg-inner {
  transition: all 0.2s ease-in-out;
}

.block-cube .bg-inner {
  background: #212121;
  position: absolute;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
}

.block-cube .text {
  color: #fff;
  position: relative;
  z-index: 2;
}

.block-cube.block-input input {
  position: relative;
  z-index: 2;
}

.block-cube.block-input input:focus~.bg-right .bg-inner,
.block-cube.block-input input:focus~.bg-top .bg-inner,
.block-cube.block-input input:focus~.bg-inner .bg-inner {
  top: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.block-cube.block-input .bg-top,
.block-cube.block-input .bg-right,
.block-cube.block-input .bg {
  background: rgba(255, 255, 255, 0.5);
  transition: background 0.2s ease-in-out;
}

.block-cube.block-input .bg-right .bg-inner,
.block-cube.block-input .bg-top .bg-inner {
  transition: all 0.2s ease-in-out;
}

.block-cube.block-input:focus .bg-top,
.block-cube.block-input:focus .bg-right,
.block-cube.block-input:focus .bg,
.block-cube.block-input:hover .bg-top,
.block-cube.block-input:hover .bg-right,
.block-cube.block-input:hover .bg {
  background: rgba(255, 255, 255, 0.8);
}

.block-cube.block-cube-hover:focus .bg .bg-inner,
.block-cube.block-cube-hover:hover .bg .bg-inner {
  top: 100%;
}

.container_main {
  margin: 5px;
  padding: 5px;
}

.container_info {
  display: flex;
  flex-direction: row;
  background: linear-gradient(180deg, rgba(2, 0, 36, .15) 0%, rgba(9, 9, 121, .15) 35%, rgba(27, 5, 181, .15) 64%, rgb(56, 4, 95) 100%);
  margin: 5px;
  margin-top: 15px;
  padding: 15px;
  border-radius: 15px;
}

.container_info_info {
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding-bottom: 25px;
  padding: 10px;
}

.container_btn {
  padding-right: 35px;
  float: right;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 1.5rem;
  height: 60px;
  background-color: rgb(56, 4, 95);
}

.logo {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-left: 12px;
  cursor: pointer;
}

.logo a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-left: 12px;
  cursor: pointer;
}

.fas {
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
}

.list-nav-bar {
  list-style: none;
  text-transform: uppercase;
  display: flex;
  gap: 20px;
}

.list-item a {
  cursor: pointer;
  font-size: 1.25rem;
  text-decoration: none;
  color: #fff;
  text-align: center;
  margin-left: 0.5rem;
  letter-spacing: 0.1rem;
}

.list-item a:hover {
  color: #a0a0a0;
}

.burger-menu {
  display: none;
}

.main-content {
  text-align: center;
  margin-top: 25vh;
}

.main-content h1 {
  color: #fff;
  font-size: 3.5rem;
}


@media screen and (max-width: 768px) {

  .list-item a {
    font-size: 0.875rem;
  }

  .logo {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 578px) {

  .list-item a {
    font-size: 1rem;

  }

  .list-nav-bar.active {
    right: 0;
  }

  .list-nav-bar {
    display: flex;
    position: fixed;
    right: -100%;
    top: 60px;
    width: 35%;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    flex-direction: column;
    transition: 0.7s;
    gap: 18px;
    border-radius: 0 0 10px 10px;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
  }

  .container-img {
    flex: 1;
    width: 50px;
    margin: 100px;
  }

  .container-text {
    display: flex;
    flex: 2;
    padding: 10px;
  }
}

.button-ops {
  display: flex;
  margin-top: 30px;
}

.input-file-container {
  margin: 25px;
  margin-left: 10px;
  position: relative;
  width: 260px;
  -webkit-box-shadow: 10px -10px 0px 0px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 10px -10px 0px 0px rgba(255, 255, 255, 0.5);
  box-shadow: 10px -10px 0px 0px rgba(255, 255, 255, 0.5);
}

.js .input-file-trigger {
  display: block;
  padding: 14px 15px;
  background: #420079;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
}

.js .input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}

.js .input-file:hover+.input-file-trigger,
.js .input-file:focus+.input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #34495E;
  color: #420079;
}

.file-return {
  margin: 0;
}

.file-return:not(:empty) {
  margin: 1em 0;
}

.js .file-return {
  font-style: italic;
  font-size: .5em;
  font-weight: bold;
}

.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}